<label
  class="selector pt-2 pb-3 px-1 mr-3"
  style="border: solid; border-color: #A8A8A8; border-width: 1px; text-align: center; min-width: 68px; font-weight: bold; font-size: 0.92em"
>
  {{ title }} <br />
  <select value="{{ value }}" (change)="changed($event.target.value)">
    <option value="-50">-50</option>
    <option value="-30">-30</option>
    <option value="-20">-20</option>
    <option value="-10">-10</option>
    <option value="-5">-5</option>
    <option value="0">0</option>
    <option value="5">5</option>
    <option value="10">10</option>
    <option value="20">20</option>
    <option value="30">30</option>
    <option value="50">50</option>
    <option selected value="">Any</option></select
  >
</label>
