<div class="container">
  <p class="mt-5">
    This website was developed as a learning exercise for the author into Angular, .Net Core, 
    Azure functions and other technologies that were implemented.
  </p>
  <p>
    Excluding various calculations the core data within the application is freely available from numerous sources 
    on the web and the author makes no guarantees regarding the accuracy of any data within this website. 
  </p>
  <p>
    For those interested in the design, the Trainer Jockey form data is fetched from a C# .Net Core Web-API that 
    was written to read from an Azure database. The code for the API can be found in this
    <a href="https://github.com/malbonar/HorseRacing">github repo</a>
  </p>
</div>
