<div class="container">
  <div *ngIf="loading; else elseBlock">Fetching Trainer Jockey data</div>
  <ng-template #elseBlock>
    <table class="table table-striped table-sm table-bordered">
      <thead>
        <tr>
          <th>Trainer</th>
          <th>Jockey</th>
          <th>Runs</th>
          <th>Wins</th>
          <th>Places</th>
          <th>Win%</th>
          <th>Place%</th>
          <th>Win P/L</th>
          <th>EW P/L</th>
          <th>A/E</th>
          <th>IV</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let formLine of formLines">
          <td>{{ formLine.Trainer }}</td>
          <td>{{ formLine.Jockey }}</td>
          <td>{{ formLine.Runs }}</td>
          <td>{{ formLine.Wins }}</td>
          <td>{{ formLine.Placed }}</td>
          <td>{{ formLine.WinPercent }}</td>
          <td>{{ formLine.PlacedPercent }}</td>
          <td>{{ formLine.WinProfitLoss }}</td>
          <td>{{ formLine.PlacedProfitLoss }}</td>
          <td>{{ formLine.AE }}</td>
          <td>{{ formLine.IV }}</td>
        </tr>
      </tbody>
    </table>
  </ng-template>
</div>
