<div class="container">
  <p class="lead">
    Angular has been introduced to my development team at work for our front end
    client apps, so thought I'd re-write this app in Angular (I'd written a
    React version of it about a month previous)
  </p>
  <p class="lead">
    The app fetches data from a C# .Net Core Web-API I've written to read from
    an Azure database. The code for the API can be found in this
    <a href="https://github.com/malbonar/HorseRacing">github repo</a>
  </p>
</div>
