<div>
  <nav class="navbar navbar-expand-sm navbar-dark bg-success mb-3 py-0">
    <div class="container">
      <div class="navbar-brand">{{ title }}</div>
      <div>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="trainerjockeyreport">
              <i class="fa fa-home"></i> Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="about">
              <i class="fa fa-question"></i> About</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
