<label
  class="selector pt-2 pb-3 px-1 mr-3"
  style="border: solid; border-color: #A8A8A8; border-width: 1px; text-align: center; min-width: 68px; font-weight: bold; font-size: 0.92em"
>
  {{ title }} <br />
  <select value="{{ value }}" (change)="changed($event.target.value)">
    <option value="0">0</option>
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
    <option value="6">6</option>
    <option value="7">7</option>
    <option value="8">8</option>
    <option value="9">9</option>
    <option value="10">10</option>
    <option value="15">15</option>
    <option value="20">20</option>
    <option value="25">25</option>
    <option value="33">33</option>
    <option value="40">40</option>
    <option value="50">50</option>
    <option value="66">66</option>
    <option value="75">75</option>
    <option value="100">100</option>
    <option selected value="">Any</option></select
  >
</label>
