/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Oxygen', sans-serif;
}

.next-to-a-calendar {
    padding-top: 4px;
}

p-calendar .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0.52em;
}
